<table class="table table-striped table-dark" style="margin: 0 auto; font-size: 2rem;" >
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Organisator</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row"></th>
            <td>dfas</td>
        </tr>
        <tr>
        <th scope="row"></th>
        <td>dfas</td>
    
        </tr>
        <tr>
            <th scope="row"> </th>
            <td>dfas</td>
            <td>dfas</td>
            
            <td>dfas</td>
        </tr>
    </tbody>
</table>