<table  ng-controller="eventsCtrl" ng-init="get_Events()" class="table table-striped table-dark" style="margin:5rem; font-size: 2rem;" >
    <thead>
        <tr>
        
        <th scope="col">Organisator</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in events">
            <td scope="row">{{x.organisator}}</td>
            <td scope="row">{{x.adresa}}</td>
            <td scope="row">{{x.date | date : shortDate}}</td>
        </tr>
    </tbody>
</table>